* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #1a1818;
	color: #fff;
}

main {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	margin-top: 10rem;
}
